<html>
<head>
    <title>Evil Sudoku</title>
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <style>
        table {
            border-spacing: 0;
            border-color: #1b1e21;
            border-style: solid;
        }
        td {
            padding: 0;
            text-align: center;
            height: 60px;
            width: 60px;
            border: 1px solid #2e3436;
            font-size: 36px;
        }
        tr {
            padding: 0;
            margin: 0;
        }
        .container {
            width: 100%;
        }
        .sudoku-grid {
            margin-left: auto;
            margin-right: auto;
        }
        .border-right {
            border-right: 2px solid #2e3436;

        }
        .border-bottom {
            border-bottom: 2px solid #2e3436;

        }
        .sudoku-col {
            border: none;
            width: 100%;
            height: 100%;
            color: #005cbf;
            font-size: 36px;
            text-align: center;
            outline: none;
            caret-color: transparent;
        }
        .sudoku-col:focus {
            background: #b8daff;
        }
    </style>
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}


</head>
<body>
<header>
    <img src="/images/evil-sudoku-logo-90x90.png">
    <h1>Evil Sudoku</h1>
</header>

<div class="container">
    <sudoku-board grid="{{ grid|json_encode }}" block-size="{{ block_size }}"></sudoku-board>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js" defer></script>
        <script src="/build/app.js" defer></script>
        See note below about the "defer" attribute -->
{% endblock %}
</body>
</html>