<html>
<head>
    <title>Evil Sudoku</title>
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <style>
        .container {
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_link_tags('app') }}

        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}


</head>
<body>
<header>
    <img src="/images/evil-sudoku-logo-90x90.png">
    <h1>Evil Sudoku</h1>
</header>

<div class="container">
    <sudoku-board raw="{{ grid|json_encode }}" block-size="{{ block_size }}"></sudoku-board>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js" defer></script>
        <script src="/build/app.js" defer></script>
        See note below about the "defer" attribute -->
{% endblock %}
</body>
</html>